body{
    background-image: url(../images/lush.jpg)
}

.column{
    background-color: gray;
    box-shadow: 3px 3px 1px black;
    width:15em;
    height: 20em;
    float:left;
    margin: 1em;
    text-align: justify;
    border: 1px solid gray;
    padding:1em;          
}
.container{
    margin:10em;
}