*{
    box-sizing: border-box;
}
body{
    width:100%;
    margin: 0px;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
#container{
    background-image: url("img/container.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#container::after{
    content: "";
    visibility: hidden;
    clear: both;
    display: block;
}
header{
    height: 120px;
    float: left;
    width:100%;
}
header>#logo>img{
    margin-top:-40px;
    width:280px;
    height: 190px;
    float: left;
    margin-left:-60px;

}
#logo{
    float: left;
    width: 120px;
}
header h1{
    text-shadow: 0.2px 0.2px 0.2px #fff;
    padding-top:20px;
    margin-bottom: 0px;
    margin-top: 10px;
    float: left;
    color:#666;
    font-size: 70px;
    font-family: sans-serif;
    
}
header input{
    outline: 0px;
    border: 0px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    padding: 10px;
}
label{
    position: relative;
    top:55px;
    float: left;
    color:white;
    margin-left:20px;
}
label>span{
     /*background-image: linear-gradient(#111,#222);*/
     background-image: url("img/black-wallpaper-preview-22.jpg");
     cursor: pointer;
    position: relative;
    left:4px;
    padding: 8.5px;
    padding-bottom: 10px;

}
/*navigation bar satrted*/
nav{
     background-image: url("img/black-wallpaper-preview-22.jpg");
    float: left;
    width:100%;
   
}
nav>ul{
    padding: 0px;
    list-style-type: none;
    float: left;
    position: relative;
    left:50%;
}
nav>ul>li{
    float: left;
    position: relative;
    right: 50%;
}
nav>ul>li>a{
    text-decoration: none;
    float: left;
    padding: 10px 40px;
    background-color:#1b1919;
    color:#ccc;
    font-family: sans-serif;
    transition: 0.5s ease; 
    
}
nav>ul>li>a:hover{
    background-color:white;
     color:#1b1919;
     transition: 0.5s ease; 
}
.nested{
    list-style-type: none;
    padding: 0px;
    text-align: center;
    display: none;
    position: absolute;
    top:38px;
    width:122px;
}
.nested a:hover{
    background-image: linear-gradient(#ccc,#fff);
     color:#222;
}
.nested li{
     background-image: url("img/background.jpg");
     box-shadow: 10px 10px 10px black;
     transition: 0.5s;
}
.nested li:hover{
    position: relative;
    left:10px;
    
}
.hide:hover .nested{
    display: block;
    
}
.nested a{
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 10px ;
}